[Desktop Entry]
Name=KBibTeX
Name[x-test]=xxKBibTeXxx
GenericName=BibTeX Editor
GenericName[x-test]=xxBibTeX Editorxx
Icon=kbibtex
Exec=kbibtex -caption "%c" %U
Type=Application
X-DocPath=kbibtex/index.html
Terminal=false
X-KDE-StartupNotify=true
# TODO X-DBUS-StartupType=Multi
# TODO X-DBUS-ServiceName=org.kde.okteta
# TODO Categories=Qt;KDE;Utility;X-KDE-Utilities-File;

