<!DOCTYPE kpartgui>
<kpartgui name="KBibTeX" version="1">
<MenuBar>
  <Menu name="file">
<Action name="open" />
<Action name="openfile" />
<Action name="fileopen" />
  </Menu>
</MenuBar>
<!-- TODO -->
</kpartgui>
