[Desktop Entry]
Encoding=UTF-8
Name=KBibTeX
Name[de]=KBibTeX
Comment=KDE-based editor for bibliographic files
Comment[de]=KDE-basierter Editor für Bibliographiedateien
GenericName=BibTeX Editor
GenericName[de]=BibTeX-Editor
Icon=kbibtex
Exec=kbibtex -caption "%c" %U
Type=Application
Terminal=false
Terminal=false
X-KDE-StartupNotify=true
# TODO X-DBUS-StartupType=Multi
# TODO X-DBUS-ServiceName=org.kde.kbibtex
TODO Categories=Qt;KDE;Office;Database;Science;Literature;
