<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KBibTeX" version="1">
<MenuBar>
  <Menu name="file" noMerge="1"><text>&amp;File</text>

    <Action name="file_new" />
    <Action name="file_open" />
    <DefineGroup name="save_merge" append="save_merge" />
    <Action name="file_close" />
    <Separator/>

    <Action name="file_quit"/>
  </Menu>
  <Merge />
</MenuBar>
<ToolBar noMerge="1" name="mainToolBar">
    <Action name="file_new" />
    <Action name="file_open" />
    <Marge/>
    <Merge/>
    <Action name="file_close" />
</ToolBar>
<!-- TODO -->
</kpartgui>
