[Desktop Entry]
Name=KBibTeX
Name[ast]=KBibTeX
Name[bs]=KBibTeX
Name[ca]=KBibTeX
Name[ca@valencia]=KBibTeX
Name[cs]=KBibTeX
Name[da]=KBibTeX
Name[de]=KBibTeX
Name[en_GB]=KBibTeX
Name[es]=KBibTeX
Name[et]=KBibTeX
Name[fi]=KBibTeX
Name[fr]=KBibTeX
Name[gl]=KBibTeX
Name[hu]=KBibTeX
Name[it]=KBibTeX
Name[ko]=KBibTeX
Name[nl]=KBibTeX
Name[pl]=KBibTeX
Name[pt]=KBibTeX
Name[pt_BR]=KBibTeX
Name[ru]=KBibTeX
Name[sk]=KBibTeX
Name[sv]=Kbibtex
Name[tr]=KBibTeX
Name[uk]=KBibTeX
Name[x-test]=xxKBibTeXxx
Name[zh_CN]=KBibTeX
Name[zh_TW]=KBibTeX
Comment=KDE-based editor for bibliographic files
Comment[bs]=KDE-baziran uređivač za bibliografske datoteke
Comment[ca]=Editor basat en el KDE per a fitxers bibliogràfics
Comment[ca@valencia]=Editor basat en el KDE per a fitxers bibliogràfics
Comment[da]=KDE-baseret editor til bibliografiske filer
Comment[de]=KDE-basierter Editor für Bibliographiedateien
Comment[en_GB]=KDE-based editor for bibliographic files
Comment[es]=Editor de archivos bibliográficos basado en KDE
Comment[et]=KDE bibliograafiafailide redaktor
Comment[fi]=KDE-pohjainen lähdeluettelotiedostomuokkain
Comment[fr]=Éditeur de fichiers de bibliographie fondé sur KDE
Comment[gl]=Editor de KDE para ficheiros bibliográficos.
Comment[hu]=KDE-alapú szerkesztő könyvészeti fájlokhoz
Comment[it]=Editor basato su KDE per file bibliografici
Comment[ko]=KDE 기반 서지 정보 파일 편집기
Comment[nl]=Op KDE gebaseerde bewerker van bibliografische bestanden
Comment[pl]=Edytor plików bibliografii oparty na KDE
Comment[pt]=Editor baseado no KDE para ficheiros bibliográficos
Comment[pt_BR]=Editor de arquivos bibliográficos baseado no KDE
Comment[sk]=Editor založený na KDE pre bibliografické súbory
Comment[sv]=KDE-baserad editor för bibliografiska filer
Comment[tr]=Kaynakça dosyaları için KDE tabanlı düzenleyici
Comment[uk]=Заснований на KDE редактор файлів бібліографій
Comment[x-test]=xxKDE-based editor for bibliographic filesxx
Comment[zh_CN]=基于 KDE 的参考文献文件编辑器
Comment[zh_TW]=KDE 下的 bibliographic 檔編輯器
GenericName=BibTeX Editor
GenericName[bs]=BibTeX Editor
GenericName[ca]=Editor de BibTeX
GenericName[ca@valencia]=Editor de BibTeX
GenericName[cs]=Editor BibTeX
GenericName[da]=BibTeX-editor
GenericName[de]=BibTeX-Editor
GenericName[en_GB]=BibTeX Editor
GenericName[es]=Editor BibTeX
GenericName[et]=BibTeXi redaktor
GenericName[fi]=BibTeX-muokkain
GenericName[fr]=Éditeur BibTeX
GenericName[gl]=Editor de BibTeX
GenericName[hu]=BibTeX szerkesztő
GenericName[it]=Editor BibTeX
GenericName[ko]=BibTeX 편집기
GenericName[nl]=BibTeX-bewerker
GenericName[pl]=Edytor BibTeX
GenericName[pt]=Editor do BibTeX
GenericName[pt_BR]=Editor de BibTeX
GenericName[sk]=Editor BibTeX
GenericName[sv]=Bibtex-editor
GenericName[tr]=BibTeX Düzenleyici
GenericName[uk]=Редактор BibTeX
GenericName[x-test]=xxBibTeX Editorxx
GenericName[zh_CN]=BibTeX 编辑器
GenericName[zh_TW]=BibTeX 編輯器
Icon=kbibtex
Exec=kbibtex %U
Type=Application
Terminal=false
X-KDE-StartupNotify=true
# TODO X-DBUS-StartupType=Multi
# TODO X-DBUS-ServiceName=org.kde.kbibtex
Categories=Qt;KDE;Office;Database;Science;Literature;Education;
MimeType=text/x-bibtex;application/x-research-info-systems;
Keywords=BibTeX;bibliography;editor;LaTeX;
Keywords[ca]=BibTeX;bibliografia;editor;LaTeX;
Keywords[ca@valencia]=BibTeX;bibliografia;editor;LaTeX;
Keywords[de]=BibTeX;Bibliographie;editor;LaTeX;
Keywords[en_GB]=BibTeX;bibliography;editor;LaTeX;
Keywords[es]=BibTeX;bibliografía;editor;LaTeX;
Keywords[fi]=BibTeX;lähdeluettelo;muokkain;LaTeX
Keywords[fr]=Bibtex;bibliographie;éditeur;LaTeX;
Keywords[gl]=BibTeX;bibliography;bibliografía;editor;LaTeX;
Keywords[it]=BibTeX;bibliografia;editor;LaTeX;
Keywords[ko]=BibTeX;bibliography;editor;LaTeX;편집기;서지;참고 문헌;문헌;서지 정보;
Keywords[nl]=BibTeX;bibliografie;editor;bewerker;LaTeX;
Keywords[pl]=BibTeX;bibliografia;edytor;LaTeX;
Keywords[pt]=BibTeX;bibliografia;editor;LaTeX;
Keywords[pt_BR]=BibTeX;bibliografia;editor;LaTeX;
Keywords[sk]=BibTeX;bibliografia;editor;LaTeX;
Keywords[sv]=Bibtex;bibliografi;editor;Latex;
Keywords[tr]=BibTeX;kaynakça;düzenleyici;LaTeX;
Keywords[uk]=BibTeX;bibliography;editor;LaTeX;бібтех;бібліографія;редактор;латех;лейтех;
Keywords[x-test]=xxBibTeXxx;xxbibliographyxx;xxeditorxx;xxLaTeXxx;
Keywords[zh_CN]=BibTeX;bibliography;editor;LaTeX;编辑器;参考书目;文献目录;
