[Desktop Entry]
Type=Service
Icon=kbibtex
Name=BibTeX Viewer and Editor
Name[bs]=BibTeX pregledač i Editor
Name[ca]=Visualitzador i editor de BibTeX
Name[ca@valencia]=Visualitzador i editor de BibTeX
Name[cs]=Prohlížeč a editor BibTeX
Name[da]=BibTeX-fremviser og -editor
Name[de]=BibTeX-Betrachter und -Editor
Name[en_GB]=BibTeX Viewer and Editor
Name[es]=Visor y editor BibTeX
Name[et]=BibTeXi näitaja ja redaktor
Name[fi]=BibTeX-katselin ja -muokkain
Name[fr]=Afficheur et éditeur BibTeX
Name[gl]=Visor e editor de BibTeX
Name[hu]=BibTeX megjelenítő és szerkesztő
Name[it]=Visualizzatore BibTeX ed editor
Name[ko]=BibTeX 표시 및 편집기
Name[nl]=BibTeX-viewer en -bewerker
Name[pl]=Edytor i przeglądarka BibTeX
Name[pt]=Visualizador e Editor do BibTeX
Name[pt_BR]=Editor e visualizador de BibTeX
Name[sk]=Prehliadač a editor BibTeX
Name[sv]=Bibtex-visning och redigering
Name[tr]=BibTeX Görüntüleyici ve Düzenleyici
Name[uk]=Програма для перегляду та редагування даних BibTeX
Name[x-test]=xxBibTeX Viewer and Editorxx
Name[zh_CN]=BibTeX 查看器和编辑器
Name[zh_TW]=BibTeX 檢視器與編輯器
Comment=KParts component to view and edit bibliographic files
Comment[bs]=KParts komponenta za pregled i uređivanje bibliografskih datoteka
Comment[ca]=Component de KParts per a visualitzar i editar fitxers bibliogràfics
Comment[ca@valencia]=Component de KParts per a visualitzar i editar fitxers bibliogràfics
Comment[da]=KParts-komponent til at fremvise og redigere bibliografiske filer
Comment[de]=KParts-Komponente zum Betrachten und Editieren von Bibliographiedateien
Comment[en_GB]=KParts component to view and edit bibliographic files
Comment[es]=Componente de KParts para ver y editar archivos bibliográficos
Comment[et]=KPartsi komponent bibliograafiafailide näitamiseks ja muutmiseks
Comment[fi]=KParts-osa lähdeluettelotiedostojen katselemiseen ja muokkaamiseen
Comment[fr]=Composant KParts pour afficher et éditer des fichiers de bibliographie
Comment[gl]=Compoñente de KParts para ver e editar ficheiros bibliográficos.
Comment[hu]=KParts komponens könyvészeti fájlok megtekintéséhez és szerkesztéséhez
Comment[it]=Componente di KParts per visualizzare e modificare i file bibliografici
Comment[ko]=서지 정보 파일을 보고 편집하는 KParts 구성 요소
Comment[nl]=Component van KParts om bibliografische bestanden te bekijken en te bewerken
Comment[pl]=Składnik KParts do przeglądania i edytowania plików bibliografii
Comment[pt]=Componente do KParts para ver e editar ficheiros bibliográficos
Comment[pt_BR]=Componente do KParts para editar e visualizar arquivos bibliográficos
Comment[sk]=KParts komponent na prehliadanie a editovanie bibliografických súborov
Comment[sv]=Delprogram-komponent för att visa och redigera bibliografiska filer
Comment[tr]=Kaynakça dosyalarını görüntülemek ve düzenlemek için KParts bileşeni
Comment[uk]=Компонент KParts для перегляду та редагування файлів бібліографії
Comment[x-test]=xxKParts component to view and edit bibliographic filesxx
Comment[zh_CN]=用于显示和编辑参考文献文件的 KParts 组件
Comment[zh_TW]=檢視與編輯 bibliographic 檔的部件
X-KDE-ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart,Browser/View
X-KDE-Library=kbibtexpart
MimeType=text/x-bibtex;text/x-endnote-refer;application/x-isi-export-format;
