[EntryType1]
UpperCamelCase=Article
Label=Journal Article

[EntryType2]
UpperCamelCase=InProceedings
UpperCamelCaseAlt=InConference
Label=Publication in Conference Proceedings

[EntryType3]
UpperCamelCase=Proceedings
UpperCamelCaseAlt=Conference
Label=Conference or Workshop Proceedings

[EntryType4]
UpperCamelCase=TechReport
Label=Technical Report

[EntryType5]
UpperCamelCase=Misc
Label=Miscellaneous

[EntryType6]
UpperCamelCase=Book
Label=Book

[EntryType7]
UpperCamelCase=InBook
Label=Part of a Book

[EntryType8]
UpperCamelCase=PhDThesis
Label=PhD Thesis

[EntryType9]
UpperCamelCase=MastersThesis
Label=Master's Thesis

[EntryType10]
UpperCamelCase=Unpublished
Label=Unpublish Material

[EntryType11]
UpperCamelCase=Manual
Label=Manual

