[Tab1]
uiCaption=Title
columns=1

bibtexLabel1=title
uiLabel1=Title
fieldInputLayout1=SingleLine

bibtexLabel2=booktitle
uiLabel2=Book Title
fieldInputLayout2=SingleLine

bibtexLabel3=series
uiLabel3=Series
fieldInputLayout3=SingleLine

[Tab2]
uiCaption=Author/Editor
columns=2

bibtexLabel1=author
uiLabel1=Author
fieldInputLayout1=List

bibtexLabel2=editor
uiLabel2=Editor
fieldInputLayout2=List

[Tab3]
uiCaption=Publication
columns=2

bibtexLabel1=journal
uiLabel1=Journal
fieldInputLayout1=SingleLine

bibtexLabel2=volume
uiLabel2=Volume
fieldInputLayout2=SingleLine

bibtexLabel3=number
uiLabel3=Number/Issue
fieldInputLayout3=SingleLine

bibtexLabel4=month
uiLabel4=Month
fieldInputLayout4=Month

bibtexLabel5=year
uiLabel5=Year
fieldInputLayout5=SingleLine

bibtexLabel6=pages
uiLabel6=Pages
fieldInputLayout6=SingleLine

bibtexLabel7=edition
uiLabel7=Edition
fieldInputLayout7=SingleLine

bibtexLabel8=chapter
uiLabel8=Chapter
fieldInputLayout8=SingleLine

bibtexLabel9=organization
uiLabel9=Organization
fieldInputLayout9=SingleLine

bibtexLabel10=publisher
uiLabel10=Publisher
fieldInputLayout10=SingleLine

bibtexLabel11=school
uiLabel11=School
fieldInputLayout11=SingleLine

bibtexLabel12=institution
uiLabel12=Institution
fieldInputLayout12=SingleLine

bibtexLabel13=location
uiLabel13=Location
fieldInputLayout13=SingleLine

bibtexLabel14=address
uiLabel14=Address
fieldInputLayout14=SingleLine

bibtexLabel15=isbn
uiLabel15=ISBN
fieldInputLayout15=ISBN

bibtexLabel16=issn
uiLabel16=ISSN
fieldInputLayout165=ISSN

bibtexLabel17=howpublished
uiLabel17=How Published
fieldInputLayout17=SingleLine

bibtexLabel18=crossref
uiLabel18=Cross-Reference
fieldInputLayout18=SingleLine

[Tab4]
uiCaption=Misc
columns=1

bibtexLabel1=type
uiLabel1=Type
fieldInputLayout1=SingleLine

bibtexLabel2=key
uiLabel2=Key
fieldInputLayout2=SingleLine

bibtexLabel3=note
uiLabel3=Note
fieldInputLayout3=SingleLine

bibtexLabel4=abstract
uiLabel4=Abstract
fieldInputLayout4=MultiLine

bibtexLabel5=keywords
uiLabel5=Keywords
fieldInputLayout5=List

bibtexLabel6=x-color
uiLabel6=Color
fieldInputLayout6=Color

[Tab6]
uiCaption=External
columns=1

bibtexLabel1=url
uiLabel1=URL
fieldInputLayout1=URL

bibtexLabel2=ee
uiLabel2=EE
fieldInputLayout2=URL

bibtexLabel3=doi
uiLabel3=Document Identifier (DOI)
fieldInputLayout3=URL

bibtexLabel4=localfile
uiLabel4=Local Filename
fieldInputLayout4=URL

