[Column1]
UpperCamelCase=^type
Label=Type
DefaultWidth=5

[Column2]
UpperCamelCase=^id
Label=Identifier
DefaultWidth=6

[Column3]
UpperCamelCase=Title
Label=Title
DefaultWidth=14
Visible=false
TypeFlags=Source;Text;Reference

[Column4]
UpperCamelCase=Title
UpperCamelCaseAlt=BookTitle
Label=Title or Book Title
DefaultWidth=14

[Column5]
UpperCamelCase=Author
UpperCamelCaseAlt=Editor
Label=Author or Editor
DefaultWidth=7

[Column6]
UpperCamelCase=Author
Label=Author
DefaultWidth=7
Visible=false
TypeFlags=Person;Reference

[Column7]
UpperCamelCase=Editor
Label=Editor
DefaultWidth=7
Visible=false
TypeFlags=Person;Reference

[Column8]
UpperCamelCase=Month
Label=Month
DefaultWidth=3
Visible=false

[Column9]
UpperCamelCase=Year
Label=Year
DefaultWidth=2

[Column10]
UpperCamelCase=Journal
Label=Journal
DefaultWidth=4
Visible=false

[Column11]
UpperCamelCase=Volume
Label=Volume
DefaultWidth=1
Visible=false

[Column12]
UpperCamelCase=Number
Label=Number
DefaultWidth=1
Visible=false

[Column13]
UpperCamelCase=ISSN
Label=ISSN
DefaultWidth=2
Visible=false

[Column14]
UpperCamelCase=ISBN
Label=ISBN
DefaultWidth=2
Visible=false

[Column15]
UpperCamelCase=ISBN
UpperCamelCaseAlt=ISSN
Label=ISBN or ISSN
DefaultWidth=2
Visible=false

[Column16]
UpperCamelCase=HowPublished
Label=How Published
DefaultWidth=5
Visible=false

[Column17]
UpperCamelCase=Note
Label=Note
DefaultWidth=5
Visible=false

[Column18]
UpperCamelCase=Abstract
Label=Abstract
DefaultWidth=7
Visible=false

[Column19]
UpperCamelCase=Pages
Label=Pages
DefaultWidth=2
Visible=true

[Column20]
UpperCamelCase=Publisher
Label=Publisher
DefaultWidth=5
Visible=false

[Column21]
UpperCamelCase=Institution
Label=Institution
DefaultWidth=5
Visible=false

[Column22]
UpperCamelCase=BookTitle
Label=Book Title
DefaultWidth=14
Visible=false

[Column23]
UpperCamelCase=Series
Label=Series
DefaultWidth=12
Visible=false

[Column24]
UpperCamelCase=Edition
Label=Edition
DefaultWidth=2
Visible=false

[Column25]
UpperCamelCase=Chapter
Label=Chapter
DefaultWidth=1
Visible=false

[Column26]
UpperCamelCase=Organization
Label=Organization
DefaultWidth=2
Visible=false

[Column27]
UpperCamelCase=School
Label=School
DefaultWidth=2
Visible=false

[Column28]
UpperCamelCase=Keywords
Label=Keywords
DefaultWidth=3
Visible=false
TypeFlags=Source;Keyword

