[Column1]
Raw=^type
Label=Type
DefaultWidth=5

[Column2]
Raw=^id
Label=Identifier
DefaultWidth=6

[Column3]
Raw=Title
Label=Title
DefaultWidth=14
Visible=false

[Column4]
Raw=Title
RawAlt=BookTitle
Label=Title or Book Title
DefaultWidth=14

[Column5]
Raw=Author
RawAlt=Editor
Label=Author or Editor
DefaultWidth=7

[Column6]
Raw=Author
Label=Author
DefaultWidth=7
Visible=false

[Column7]
Raw=Editor
Label=Editor
DefaultWidth=7
Visible=false

[Column8]
Raw=Month
Label=Month
DefaultWidth=3
Visible=false

[Column9]
Raw=Year
Label=Year
DefaultWidth=2

[Column10]
Raw=Journal
Label=Journal
DefaultWidth=4
Visible=false

[Column11]
Raw=Volume
Label=Volume
DefaultWidth=1
Visible=false

[Column12]
Raw=Number
Label=Number
DefaultWidth=1
Visible=false

[Column13]
Raw=ISSN
Label=ISSN
DefaultWidth=2
Visible=false

[Column14]
Raw=ISBN
Label=ISBN
DefaultWidth=2
Visible=false

[Column15]
Raw=ISBN
RawAlt=ISSN
Label=ISBN or ISSN
DefaultWidth=2
Visible=false

[Column16]
Raw=HowPublished
Label=How Published
DefaultWidth=5
Visible=false

[Column17]
Raw=Note
Label=Note
DefaultWidth=5
Visible=false

[Column18]
Raw=Abstract
Label=Abstract
DefaultWidth=7
Visible=false

[Column19]
Raw=Pages
Label=Pages
DefaultWidth=2
Visible=true

[Column20]
Raw=Publisher
Label=Publisher
DefaultWidth=5
Visible=false

[Column21]
Raw=Institution
Label=Institution
DefaultWidth=5
Visible=false

